#main {
  margin-top: 10px;
}

#mainTitle {
  display: inline;
  margin-right: 10px;
}

#mainButtons {
  display: inline;
}

.footer {
  min-height: 45px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
  .placeholder {
    display: none;
  }

}